<a href="https://colab.research.google.com/github/vridhikamboj31398/Python-Questions_Strings/blob/main/list_Tuples_and_Sring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Reversal: Write a function that takes a list as input and returns a new list that is the reverse of the input list.

In [1]:
def reversal(input_list):
  return list(reversed(input_list))

In [2]:
reversal([1,23,455])

[455, 23, 1]

List Comprehension: Create a list of squares of even numbers from 1 to 20 using list comprehension.

In [5]:
even_squares=[a*a for a in range(1,21) if a%2==0]
print(even_squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

Merge Lists: Write a function that merges two lists into a single list, alternating elements from each list. If one list is longer, append the remaining elements at the end.

In [15]:
def merging(list1, list2):
    merged = []
    len1, len2 = len(list1), len(list2)
    for i in range(max(len1, len2)):
        if i < len1:
            merged.append(list1[i])
        if i < len2:
            merged.append(list2[i])
    return merged

In [16]:
list1=[1,23]
list2=[6,78,0]
merging(list1,list2)

[1, 6, 23, 78, 0]

Remove Duplicates: Write a function that takes a list and returns a new list with duplicates removed while maintaining the original order.

In [17]:
def dup(input_list):
  seen=set()
  final_list=[]
  for i in input_list:
    if i not in seen:
      seen.add(i)
      final_list.append(i)
  return final_list

In [18]:
list=[1,1,2,3,6,9,9]
dup(list)

[1, 2, 3, 6, 9]

Find Maximum: Write a function that returns the maximum value in a list without using the built-in max() function.

In [24]:
def maximnum(input_list):
  input_list.sort()
  final_list=input_list.pop()
  return final_list

In [26]:
input_list=[1,7,10,5,9,2]
maximnum(input_list)

10

Tuple Packing and Unpacking: Explain tuple packing and unpacking with an example. Write a function that takes three arguments and returns them as a tuple.

In [27]:
def tup(a,b,c):
  return(a,b,c)

In [29]:
a=1
b=10
c=89
tup(a,b,c)

(1, 10, 89)

Count Occurrences: Write a function that takes a tuple and an element, and returns the number of times the element appears in the tuple.

In [31]:
def tup_times(input_tuple,element):
  return input_tuple.count(element)

In [34]:
input_tuple=(1,3,4,4,5)
element=4
tup_times(input_tuple,element)

2

Convert List to Tuple: Write a function that converts a list into a tuple.

In [35]:
def list_tupe(input_list):
  return tuple(input_list)

In [36]:
input_list=[1,2,3]
list_tupe(input_list)

(1, 2, 3)

Tuple Concatenation: Write a function that concatenates two tuples and returns the result

In [39]:
def concat_tuple(a,b):
  return a+b

In [40]:
a=(1,2,3)
b=(7,8,9)
concat_tuple(a,b)

(1, 2, 3, 7, 8, 9)

Find Index: Write a function that finds the index of a given element in a tuple. If the element is not found, return -1.

In [41]:
def find_index(tup, element):
    try:
        return tup.index(element)
    except ValueError:
        return -1

In [44]:
tup=(1,5,6,7)
element=1
find_index(tup,element)

0

Palindrome Check: Write a function that checks if a given string is a palindrome (reads the same forwards and backwards).

In [45]:
def palindrome(input_string):
  reveres=input_string[::-1]
  if reveres==input_string:
    print("palindrome")
  else:
    print("not a palindrome")

In [48]:
input_string="nun"
palindrome(input_string)

palindrome

Count Vowels: Write a function that counts the number of vowels in a given string.

In [49]:
def vowel_count(input_string):
  count=0
  vowel=['a','e','i','o','u']
  for i in input_string:
    if i in vowel:
      count+=1
  return count

In [50]:
input_string="vridhi"
vowel_count(input_string)

2

String Reversal: Write a function that reverses a string without using the built-in reverse functions.

In [51]:
def reversal(input_string):
  reversal=input_string[::-1]
  return reversal

In [52]:
input_string="vridhi"
reversal(input_string)

'ihdirv'

Substring Count: Write a function that counts how many times a substring appears in a given string

In [53]:
def count_substring(string, substring):
    return string.count(substring)

In [55]:
string="vridhi"
substring="dhi"
count_substring(string,substring)

1

Set Union and Intersection: Write a function that takes two sets and returns their union and intersection as two separate sets.

In [56]:
def sep_sets(seta,setb):
  return seta.intersection(setb)

In [57]:
seta={a,b,2,2}
setb={1,2,3}
sep_sets(seta,setb)

{2}

In [58]:
def union_sets(seta,setb):
  return seta.union(setb)

In [60]:
seta={"hist","maths"}
setb={1,2,3}
union_sets(seta,setb)

{1, 2, 3, 'hist', 'maths'}

**bold text**Check Subset: Write a function that checks if one set is a subset of another. For example, given sets A = {1, 2, 3} and B = {1,
 2, 3, 4, 5}, the function should return True.

In [63]:
def subset_check(seta, setb):
    return seta.issubset(setb)

In [65]:
seta={1,2,3}
setb={1,2,3,4,5}
subset_check(seta,setb)

True

Set Difference: Write a function that takes two sets and returns a new set containing elements that are in the first set but not in the second.

In [72]:
def input_string(seta,setb):
  return seta.difference(setb)

In [73]:
seta={1,2,3}
setb={1,2,3,4,5}
input_string(seta,setb)

set()